In [ ]:
def create_camp_name(SKU,Market,SP,KW,):
    camp_name = SKU+ Market + SP + AUTO/KW/ASIN/ACST/KCST/SKW (Single KW) + (Lowbid) + (Match Type)  + Account + Date + Creator + STT
    return

In [4]:
import pandas as pd
import xlsxwriter

<h2>Read Bulk Products Campaign --> Write to Databases</h2>

In [14]:
def read_bulk_products(excel_path_file=''):
    df_original = pd.read_excel(excel_path_file,sheet_name='Sponsored Products Campaigns')
    df_process = df_original[['Campaign Id','Ad Group Id','Portfolio Id','Keyword Id (Read only)','Campaign Name (Informational only)','Portfolio Name (Informational only)','Keyword Text']]
    df_process.columns = ['Campaign Id','Ad Group Id','Portfolio Id','Keyword Id','Campaign Name','Portfolio Name','Keyword Text']

    df_temp = df_process.drop_duplicates()
    df_temp.dropna(subset=['Keyword Id'],inplace=True)
    return df_temp

In [15]:
df_output = read_bulk_products(excel_path_file='../sample_files/RP_BULK.xlsx')

/usr/local/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [16]:
df_output

,Campaign Id,Ad Group Id,Portfolio Id,Keyword Id,Campaign Name,Portfolio Name,Keyword Text
9,192727401621138,2.275452e+14,NaN,2.656690e+14,CC-0002-0001 US SP AUTO Chicnchill 20220820 HUY 1,4. ST,fan wall decor
10,192727401621138,2.275452e+14,NaN,1.315427e+14,CC-0002-0001 US SP AUTO Chicnchill 20220820 HUY 1,4. ST,hanging tassel for wall
11,192727401621138,2.275452e+14,NaN,2.755403e+14,CC-0002-0001 US SP AUTO Chicnchill 20220820 HUY 1,4. ST,large hanging at above bed
12,192727401621138,2.275452e+14,NaN,6.780436e+13,CC-0002-0001 US SP AUTO Chicnchill 20220820 HUY 1,4. ST,large fan decorative
13,192727401621138,2.275452e+14,NaN,2.157269e+14,CC-0002-0001 US SP AUTO Chicnchill 20220820 HUY 1,4. ST,tassel hanging decor
...,...,...,...,...,...,...,...
41980,33207923957058,8.817426e+13,NaN,2.324509e+14,Tony _ Plant hanger _Exact,NaN,large hanging plant holder indoor
41981,33207923957058,8.817426e+13,NaN,3.330786e+12,Tony _ Plant hanger _Exact,NaN,hanging plant hanger no tassel with pot
41982,33207923957058,8.817426e+13,NaN,2.220601e+14,Tony _ Plant hanger _Exact,NaN,plant hangers indoor macrame
41983,33207923957058,8.817426e+13,NaN,7.063568e+13,Tony _ Plant hanger _Exact,NaN,large plant hangers indoor macrame
41984,33207923957058,8.817426e+13,NaN,3.019061e+13,Tony _ Plant hanger _Exact,NaN,small plant hangers indoor macrame

In [2]:
# import mysql.connector

# mydb = mysql.connector.connect(
#   host="127.0.0.1",
#   user="root",
#   password="098poiA#",
#   database="ppc"
# )

# mycursor = mydb.cursor()

# mycursor.execute("SELECT * FROM bulk_portfolios")
# # mycursor.execute("INSERT INTO bulk_portfolios (portfolio_id,portfolio_name) VALUES('444','333')")
# myresult = mycursor.fetchall()
# import pandas as pd
# # mycursor.column_names
# table_rows = mycursor.fetchall()
# df = pd.DataFrame(myresult,columns=mycursor.column_names)
# df

  portfolio_id portfolio_name
0          111            222
1         3333            222